<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  </head>
  <body> 
    <div id="main">

      <div id="navbar">
        <div id="instalogoimg">
          <img src="../images/insta_word_name-removebg-preview.png" alt="">
        </div>
        <div id="linksbox">
          <a class="linksinnav" href="/feed">
            <i class="ri-home-4-fill"></i>
            <h4>Home</h4>
          </a>
          <a class="linksinnav" href="">
            <i class="ri-add-circle-fill"></i>
            <h4>Create</h4>
          </a>
          <a class="linksinnav" id="searchtag" href="/search">
            <i class="ri-search-line"></i>
            <h4>Search</h4>
          </a>
          <a class="linksinnav" id="" href="/explore">
            <i class="ri-compass-3-line"></i>
            <h4>Explore</h4>
          </a>
          <a class="linksinnav" href="/notification">
            <i class="ri-heart-2-fill"></i>
            <h4>Notification</h4>
          </a>
          <a class="linksinnav" href="/profile">
            <i class="ri-heart-2-fill"></i>
            <h4>profile</h4>
          </a>
          <a class="linksinnav" href="/logout">
            <i class="ri-logout-box-fill"></i>
            <h4>Logout</h4>
          </a>

        </div>
      </div>


      