<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
          @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

        body{
            padding: 5vw ;
            font-family: "mooli";
        }
    </style>
</head>
<body>

    <h4>Forgot Password With E-mail</h4>

    <form action="/sendmail" method="post">
        <br>
    <div class="row">
        <div class="col col-md-6">
         <div class="mb-3">
           <label for="exampleFormControlInput1" class="form-label">E-mail</label>
           <input style="border: 2px solid black;" type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="your e-mail" >
         </div>
        </div>
    </div>
    <button class="btn btn-warning">Send Mail</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>