<% include ./partials/header.ejs %>
<div id="right">

    <div id="search">
     <input id="searchquery" oninput="searchusers()" type="text" name="searchquery"  placeholder="Search">
    <br>

    <div id="searchresult">
        
    </div>
    </div>

    <script>
        
        async function searchusers(){
            const results = await axios.post('/searchquery' , {
                search : document.querySelector("#searchquery").value
            })
            var clutter = ``
            results.data.users.forEach(user => {
                clutter += `<div id="searchresult">
                    <a  href=""> 
                        <img style="border-radius: 50%; width: 3vw; height: 3vw; border: 2px solid black;" src="${user.image}" alt="">
                        <h5>${user.username} </h5>
                    </a></div>`
            });

            document.querySelector("#searchresult").innerHTML = clutter

        }

    </script>
</div>

<% include ./partials/footer.ejs %>
