<% include ./partials/header.ejs %>
<div id="right">

    <div id="search">
     <input id="searchquery" oninput="searchusers()" type="text" name="searchquery"  placeholder="Search User">
    <br>

    <div id="searchresult">
        
        
    </div>
    </div>

    <script>
        
        async function searchusers(){
            const results = await axios.post('/searchquery' , {
                search : document.querySelector("#searchquery").value
            })
            var clutter = ``
            results.data.users.forEach(user => {
                clutter += `<div id="searchresult">
                    <a  href="/usersprofile/${user.username}"> 
                        <img style="border-radius: 50%; width: 5vw; height: 5vw; border: 2px solid black;" src="${user.image}" alt="">
                        <div id="searchresultright">
                            <h4>${user.username} </h4>
                            <h6> • ${user.followers.length}  Followers</h6>

                        </div>
                       
                    </a></div>`
            });

            document.querySelector("#searchresult").innerHTML = clutter

        }

    </script>
</div>

<% include ./partials/footer.ejs %>
