@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mooli";
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
  position: relative;
  display: flex;

}

#navbar{
  background-color: white;
  width: 20vw;
  height: 100vh;
  border-right: 2px solid black;
  padding: 2vw 2vw;
  z-index: 100;
}
#instalogoimg{
  width: 100%;
  /* height: 20%; */

}
#instalogoimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
#linksbox{
  width: 100%;
  margin-top: 5vw;
  
}


.linksinnav{

  margin-bottom: 20px;
  width: 100%;
  height: 3vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}
.linksinnav:hover{
  background-color: rgb(219, 221, 224);
  
}

.linksinnav i{
  font-size: 30px;
}
.linksinnav h4{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 900;
}

#right{
  padding: 2vw 2vw;
  width: 80vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  
}

#search{
  padding: 0vw 10vw;
  z-index: 99;
  /* background-color: rgb(174, 29, 29); */
}
#search input{
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw 1.5vw;
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(227, 252, 253);
}
#searchresult{
  margin-top: 3vh;
  width: 100%;
  height: 10vh;
}

#searchresult a {
  border-radius: 10px;
  padding: 1vw;
  display: flex;
  align-items: center;
  gap: 4vw;
  text-decoration: none;
  color: black;
  
}
#searchresult a:hover{
  background-color: rgba(154, 150, 150, 0.493)
  
}
#searchresult a h5{
  font-weight: 900;
}
